Django==4.2.4
django-cors-headers==4.2.0
django-environ==0.10.0
gunicorn==21.2.0
langchain==0.0.274
openai==0.27.9
pinecone-client==2.2.2
PyPDF2==3.0.1
altair
tiktoken
# huggingface-hub==0.16.4
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2